@font-face {
  font-family: 'FuturaStdMedium';
  src: url('futurastd-medium.ttf') format('truetype');
}

/*html, body
{
	width: 100%;
	height: 100%;
}*/

body {
  font-size: 16px;
  font-family: 'FuturaStdMedium', sans-serif;
}

* {
  box-sizing: border-box;
}

#wrap {
  width: 300px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

table {
  text-align: left;
  border: 0px;
  display: block;
  border-spacing: 0;
  opacity: 0.85;
  width: 300px;
  max-width: 300px;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  margin: 5px;
}

td {
  color: #FCFCFC;
}

.playerId {
  text-align: right;
  width: 40px;
}

.playerName {
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  width: 200px;
  max-width: 200px;
  overflow: hidden;
}

.playerTime {
  text-align: center;
  padding-right: 10px;
  width: 60px;
  white-space: nowrap;
}

#uptime {
  background-color: #222222;
  width: 130px;
  text-align: center;
  color: #ffffff;
  padding: 7px;
  margin: auto;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  /*box-shadow: -1px 0 3px #000000, 0 1px 3px #000000, 1px 0 3px #000000, 0 -1px 3px #000000;*/
  opacity: 0.85;
}

tbody {
  display: block;
  box-shadow: -1px 0 3px #000000, 0 1px 3px #000000, 1px 0 3px #000000, 0 -1px 3px #000000;
}

tr {
  /*font-family: 'Segoe UI';*/
  /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);*/
}

tr:nth-child(even) {
  background: #222222
}

tr:nth-child(odd) {
  background: #111111
}

tr.heading {
  background-color: #007EE5;
  color: #FDFDFD;
  padding: 5px;
  font-weight: bold;
}
