body {
  font-family           : "Segoe UI", sans-serif;
  margin                : 0;
  padding               : 0;
  background-repeat     : no-repeat;
  background-attachment : fixed;
  background-position   : center;
  background-size       : 20%;
}

#background {
  position            : fixed;
  z-index             : 1;
  right               : 0;
  left                : 0;
  display             : block;
  width               : 100%;
  height              : 100%;
  transition          : all 20s linear;
  transform           : scale(1.03);
  background-color    : #2b1d2c;
  background-image    : url("https://i.imgur.com/39LBN12.jpg");
  background-position : 0 0;
  background-size     : cover;
  filter              : blur(5px);
}

#logo {
  position            : fixed;
  z-index             : 9999;
  right               : 0;
  left                : 0;
  width               : 100%;
  height              : 100%;
  /*background-image    : url(https://i.imgur.com/LfcaERr.png);*/
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 30%;
}

.log {
  position : absolute;
  top      : 20px;
  left     : 20px;
  color    : rgba(255, 255, 255, 0.46);
}

.log-top-right {
  top        : 20px;
  right      : 20px;
  display    : none;
  text-align : right;
}

.loading-container {
  font-family : Arial, sans-serif;
  position    : absolute;
  z-index     : 5;
  right       : 5%;
  bottom      : 10%;
  left        : 5%;
  color       : #fff;
}

.loading-labels {
  position    : relative;
  display     : inline;
  width       : 100%;
  height      : 20px;
  margin      : 5px 3px 12px 2px;
  padding     : 5px;
  text-align  : center;
  white-space : nowrap;
}

.loading-labels div {
  font-size  : 20px;
  position   : relative;
  display    : none;
  text-align : left;
}

.loading-bar-container {
  position         : relative;
  display          : block;
  overflow         : hidden;
  width            : 100%;
  height           : 20px;
  margin           : 5px 3px 5px 2px;
  padding          : 5px;
  text-align       : left;
  white-space      : nowrap;
  border-radius    : 6px;
  background-color : rgba(140, 140, 140, .9);
  background-color : #1a1a1a;
  box-shadow       : 0 1px 5px #000 inset, 0 1px 0 #444;
}

.loading-bar {
  display                    : none;
  width                      : 0;
  height                     : 20px;
  transition                 : width 0.3s;
  transition-timing-function : ease-out;
  -webkit-animation          : animate-stripes 3s linear infinite;
  border-radius              : 3px;
  background-image           : linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size            : 30px 30px;
}

.bgcolor-first {
  background-color : #d95b43;
}

.bgcolor-second {
  background-color : #c02942;
}

.bgcolor-third {
  background-color : #542437;
}

.bgcolor-fourth {
  background-color : #53777a;
}

.color-first {
  color : #d95b43;
}

.color-second {
  color : #c02942;
}

.color-third {
  color : #bd517c;
}

.color-fourth {
  color : #53777a;
}

@keyframes animate-stripes {
  0% {
    background-position : 0 0;
  }
  100% {
    background-position : 60px 0;
  }
}
